<div class="table-responsive">
    @if (search$ | async; as searchResult) {
    <table class="table">
        <caption>List of users</caption>
        <thead>
            <tr>
                @for (column of tableColumn; track $index) {
                    @if (column.sortable) {
                        <th 
                            scope="col" 
                            class="sortable"
                            [isSorted]="orderColumn === column.property"
                            [isAsc]="isAscending"
                            (click)="changeSort(column.property)"
                            > {{ column.name }} </th>
                    }
                    @else {
                        <th scope="col"> {{ column.name }} </th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (entity of searchResult.data; track entity.id; let idx = $index) {
                <tr>
                @for (column of tableColumn; track $index) {
                    @if (column.main) {
                        <th scope="row">{{ entity | entityPropertyValue : column.property }}</th>
                    }
                    @else {
                        @switch (column.type) {
                            @case ('image') {
                              <td><img [ngSrc]="entity | entityPropertyValue : column.property : true" width="150" height="150"
                                [attr.fetchpriority]="idx === 0 ? 'high' : 'auto'" [attr.alt]="entity.name?.english"></td>
                            }
                            @case ('string') {
                              <td>{{ entity | entityPropertyValue : column.property }}</td>
                            }
                            @default {
                                <td></td>
                            }
                          }
                    }
                }
            </tr>
            }
        </tbody>
    </table>
    <app-paginator [currentPage]="currentPage" [totalPages]="searchResult.pages" (changePage)="changePage($event)" />
    }
    @else {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    }
</div>